*{
    margin: 0;
    padding: 0;
}
body{
    color: rgb(50.2%, 50.2%, 50.2%);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.main-wrapper{
    margin-top: 25px;
}
.page-title{
    text-align: center;
}
.registration-form{
    width: 800px;
    margin: auto;
}
